In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_excel("real_state.xlsx",sheet_name=1)
data

,AGE,MANG. POS,QUALIFCSN,EXPRNC,GENDER,PRESENT JOB FEELING,Unnamed: 6,ENTHUSIASM,WORKOVERLD,ENJOYMNT,...,EMOSNAL STABLTY,Unnamed: 17,CHEERUL,TIRED,ABSNT MIND,DISCUSS CO-WORKER,PERSNL MTTR,THOUGHT OF LEAVING,LESS EFFORT,THAN REQRD
0,2,2,3,2,1,3,3,4.0,2,3,...,1,3,4,3.0,4,4,4,4,4,NaN
1,2,2,3,3,1,4,5,1.0,2,2,...,4,3,3,1.0,4,3,4,3,3,NaN
2,2,2,3,2,2,4,4,4.0,4,4,...,3,3,4,3.0,4,4,4,4,2,NaN
3,2,2,3,2,1,4,3,3.0,4,2,...,3,3,2,1.0,3,1,3,1,3,NaN
4,2,3,3,3,1,3,4,4.0,5,4,...,4,5,1,1.0,5,1,5,1,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,3,2,4,3,1,3,4,2.0,5,1,...,4,3,3,4.0,4,3,4,3,4,NaN
136,2,2,4,2,2,4,4,4.0,4,4,...,4,4,2,4.0,4,4,4,4,5,NaN
137,1,2,2,1,2,3,3,2.0,4,2,...,3,3,3,3.0,2,2,2,2,3,NaN
138,2,3,4,1,2,5,4,3.0,4,1,...,3,1,4,4.0,1,5,1,5,1,NaN
139,2,2,3,3,1,2,2,4.0,3,2,...,4,4,4,3.0,4,2,4,2,4,NaN

In [4]:
name=data.columns[:25]
data=data[name]
data=data.dropna()
data=data.loc[:, ~data.columns.str.contains('^Unnamed')]
print(data.shape)
print(data)

(138, 23)
     AGE  MANG. POS  QUALIFCSN  EXPRNC  GENDER  PRESENT JOB FEELING  \
0      2          2          3       2       1                    3
1      2          2          3       3       1                    4
2      2          2          3       2       2                    4
3      2          2          3       2       1                    4
4      2          3          3       3       1                    3
..   ...        ...        ...     ...     ...                  ...
135    3          2          4       3       1                    3
136    2          2          4       2       2                    4
137    1          2          2       1       2                    3
138    2          3          4       1       2                    5
139    2          2          3       3       1                    2

     ENTHUSIASM  WORKOVERLD  ENJOYMNT  UNPLSNTTASK  ...  DOWNHRTED  BOTHRED  \
0           4.0           2         3            4  ...          3        2
1           1.0           2         2            5  ...          2        2
2           4.0           4         4            2  ...          3        4
3           3.0           4         2            1  ...          3        2
4           4.0           5         4            1  ...          5        1
..          ...         ...       ...          ...  ...        ...      ...
135         2.0           5         1            2  ...          4        4
136         4.0           4         4            3  ...          2        4
137         2.0           4         2            3  ...          3        4
138         3.0           4         1            4  ...          4        4
139         4.0           3         2            2  ...          4        4

     EMOSNAL STABLTY  CHEERUL  TIRED  ABSNT MIND  DISCUSS CO-WORKER  \
0                  1        4    3.0           4                  4
1                  4        3    1.0           4                  3
2                  3        4    3.0           4                  4
3                  3        2    1.0           3                  1
4                  4        1    1.0           5                  1
..               ...      ...    ...         ...                ...
135                4        3    4.0           4                  3
136                4        2    4.0           4                  4
137                3        3    3.0           2                  2
138                3        4    4.0           1                  5
139                4        4    3.0           4                  2

     PERSNL MTTR  THOUGHT OF LEAVING  LESS EFFORT
0              4                   4             4
1              4                   3             3
2              4                   4             2
3              3                   1             3
4              5                   1             5
..           ...                 ...           ...
135            4                   3             4
136            4                   4             5
137            2                   2             3
138            1                   5             1
139            4                   2             4

[138 rows x 23 columns]

In [ ]:
"""save it"""
data.to_excel("new_real_state.xlsx")